{% extends "master.html.twig" %}

{% block meta %}
    {% autoescape false %}
        {{ sulu_seo(extension.seo, content, urls, shadowBaseLocale) }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    <h1 property="title">{{ content.title }}</h1>

    <div property="article">
        {{ content.article|raw }}
    </div>

    <ul>
        {% for event in content.events %}
            <li>
                <a href="{{ event.url }}">{{ event.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
